<%- include("../partials/header") %>

<!-- Header Style 3 -->
<section class="hero-section-wrapper-3">
	<div class="hero-section hero-style-3 img-bg"
		style="background-image: url('../../../img/old/hero/hero-3/hero-bg.svg');">
		<div class="container">
			<%- include("../partials/message") %>
			<div class="row justify-content-center">
				<div class="col-xl-8 col-lg-8">
					<div class="hero-content-wrapper">
						<div class="content">
							<h2 class="mb-30">Food Truck</h2>
							<p class="mb-40">This is the home page for the FoodTruck. Kitchen open <a
									href="/kitchen">this</a>; Counter open <a href="/counter">this</a>.
							</p>
							<div class="buttons">
								<a href="/kitchen" class="button button-lg radius-10">Kitchen</a>
								<a href="/counter" class="button button-lg radius-10">Counter</a>
							</div>
						</div>
						<div class="image">
							<img src="../../../img/old/hero/hero-3/hero-img.svg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="shapes">
			<img src="../../../img/old/hero/hero-3/shape-1.svg" alt="" class="shape shape-1">
			<img src="../../../img/old/hero/hero-3/shape-2.svg" alt="" class="shape shape-2">
			<img src="../../../img/old/hero/hero-3/shape-3.svg" alt="" class="shape shape-3">
			<img src="../../../img/old/hero/hero-3/shape-4.svg" alt="" class="shape shape-4">
			<img src="../../../img/old/hero/hero-3/shape-5.svg" alt="" class="shape shape-5">
			<img src="../../../img/old/hero/hero-3/shape-6.svg" alt="" class="shape shape-6">
			<img src="../../../img/old/hero/hero-3/shape-7.svg" alt="" class="shape shape-7">
			<img src="../../../img/old/hero/hero-3/shape-8.svg" alt="" class="shape shape-8">
		</div>
	</div>
</section>

<%- include("../partials/footer") %>